h3 {
  margin-top: -5px;
}

p {
  overflow: auto;
  max-height: 100px;
  word-wrap: break-word;
  color: gray;
  margin-bottom: 5px;
}

.stars {
  margin-top: -5px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 40px
}

div:hover {
  cursor: default;
  color: gray;
}

span:hover {
  cursor: pointer;
  color: #1890ff;
}

img {
  user-select: none;
  width: 100%;
  height: 200px;
}

nz-card {
  width: 300px;
  border-color: rgba(rgb(100, 100, 100), 0.2);
  border-width: 1.5px;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rating {
  margin-top: -10px;

  p {
    user-select: none;
    margin-bottom: -10px;
  }

  nz-form-control {
    margin-bottom: 3px;
  }
}

input {
  width: 98%;
}

.dollar {
  position: relative;
  right: 20px;
  color: gray;
}

.fileInput {
  margin-bottom: 0;
}

.warning {
  align-self: center;
  color: rgba(255, 0, 0, 0.8);
  margin: 0;
}

.filePicker {
  margin-right: 10px;
  width: 110px;
}

.filePicker::-webkit-file-upload-button {
  visibility: hidden;
}

.filePicker::before {
  content: 'Change image';
  display: inline-block;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  user-select: none;
  cursor: pointer;
}

.filePicker:hover::before {
  border-color: rgba(0, 0, 0, 0.55);
}

@media only screen and (max-width: 440px) {
  .dollar {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  nz-card {
    width: 250px;
  }

  img {
    height: 180px;
  }
}