<button nz-button class="addbtn" [nzType]="'primary'" (click)="showModal()">Add trip</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Add a trip" (nzOnCancel)="modalCancel()" (nzOnOk)="addTrip()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addTripForm">
      <nz-form-item>
        <nz-form-control [nzValidateStatus]="name.invalid && submitted ? 'error' : null"
          nzErrorTip="Name should have at least 6 characters!">
          <input nz-input placeholder="Name" [formControl]="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzValidateStatus]="country.invalid && submitted ? 'error' : null"
          nzErrorTip="Country is required!">
          <input nz-input placeholder="Country" [formControl]="country" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="rating">
        <nz-form-control [nzValidateStatus]="rating.invalid && submitted ? 'error' : null"
          nzErrorTip="Rating is required!">
          <p>Rating: <nz-rate [formControl]="rating"></nz-rate></p>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzValidateStatus]="expenses.invalid && submitted ? 'error' : null"
          nzErrorTip="Expenses must be a positive number!">
          <input nz-input placeholder="Expenses" [formControl]="expenses" />
          <span class="dollar">$</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <input nz-input placeholder="Notes" />
      </nz-form-item>
      <nz-form-item class="fileInput">
        <input class="filePicker" type="file" accept="image/png, image/jpeg" (change)="uploadImage($event)" />
        <p class="warning" *ngIf="incorrectFile">
          Chosen file is not an image!
        </p>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>